.section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.cards {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.title {
    font-size: clamp(16px, 2vw + 1rem, 24px);
    font-weight: 500;
    color: #101010;
}
.card {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card__title {
    border-bottom: 1px solid #dbdbdb;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 1rem 1.5rem;
}

.card__main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem 1.5rem;
}

.card__calc {
    font-size: 1.5rem;
    font-weight: 600;
}

.card__info {
    font-size: 0.75rem;
    color: dimgrey;
}
