.operations {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.operations__title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dialog__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 0;
}
