.wrapper {
    margin: 0 1.5rem;
}

.title {
    font-size: 1.5rem;
}

.title-description {
    font-size: 1.25rem;
}

.tabs {
    display: flex;
    gap: 1rem;
}

.button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: box-shadow 0.5s;
}

.button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
