@import "./normalize.css";
@import "./reset.css";

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --black-color: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto";
    margin: 0 auto;
    max-width: 120rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0; /* расстояние между секциями */
}

button {
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

use.svg {
    stroke: ""; /* перекрасить svg элементы вставленные с помощью тегов svg>use благодаря sprite.svg */
    fill: "";
}

.container {
    max-width: 75rem;
}
